*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#icono {
    width: 100px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.Navegación {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    width: 100%;
    height: 64px;
    border-bottom: cyan solid 3px;
    margin-bottom: 15px;
}

.Interacción {
    display: flex;
    text-align: center;
    position: relative;
    list-style: none;
}

.Nav-fondo {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.Nav-item {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #13547a;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.Nav-item:hover {
    color: gold;
    background: orangered;
    border-bottom: gold solid 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 60px;
}

.Nav-item:active {
    color: red;
    background: #f6d365;
    border-bottom: red solid 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 60px;
}

#search {
    width: 2500px;
    height: 32px;
    margin-top: 13px;
    margin-right: 5px;
}

#item {
    width: 50%;
    height: 50%;
}

.Nav-item-menu {
    padding: 16px;
    display: flex;
}

.Contenido {
    width: 100%;
    background: linear-gradient(to right, #2c5364, #0f2027);
    height: 600px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.titulo_1 {
    background: #c3cfe2;
    padding: 20px;
}

.Diapositiva {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    top: 20%;
    left: 42%;
}

@keyframes rotate {
      0% {
        transform: perspective(1000px) rotateY(0);
      }

      100% {
        transform: perspective(1000px) rotateY(360deg);
      }
    }

.Diapositiva span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

    .Diapositiva span img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      transition: 2s;
}

    .Diapositiva span:hover img {
      transform: translateY(-50px) scale(1.2);
}

article {
    width: 99%;
    min-height: 500px;
    background: whitesmoke;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

#página {
    padding: 0 1%;
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    border-right: #c3cfe2 solid 2px;
    border-left: #c3cfe2 solid 2px;
}

.Caja_de_texto_principal {
    width: 100%;
    height: 290px;
    background-color: #D7FFFE;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
}

.Caja_de_texto {
    width: 100%;
    background-color: whitesmoke;
}

.Parrafo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.decorativo {
    width: 100%;
    height: 100px;
}

.espacio {
    margin-top: 5px;
}

.ultima-sección {
    background-color: #D7FFFE;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
}

footer {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footers {
    margin-right: 95px;
    margin-left: 95px;
}

.Icon {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}