*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.A1 {
    width: 13vh;
    height: 100vh;
    background-color: orange;
    margin-right: 10px;
}
.A4 {
    width: 13vh;
    height: 100vh;
    background-color: blue;
    margin-left: 10px;
}

@media (max-width: 900px) {
    .A1 {
        position: absolute;
        z-index: -1;
        width: 8vh;
    }

    .A4 {
        background-color: white;
    }

    .A2 {
        margin-left: 65px;
    }

    .B7, .B8, .B9 {
        z-index: 10;
    }

    #imagen {
        width: 80px;
        height: 100px;
    }
}

.A2 {
    width: 100vh;
    margin-top: 80px;
    height: 100%;
}

.A3 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Botón {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #150047;
    border-radius: 5%;
    border: #000100 solid 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.Botón:hover {
    color: gold;
    background: orangered;
    border-radius: 5px;
    transform: translateY(-1px);
    box-shadow: 0px 0px 5px #000100;
    margin-top: 10px;
}

.B1 {
    background-color: #150047;
    width: 145px;
    color: white;
    padding: 7px;
}

.B1- {
    margin-top: 10px;
}

.B2 {
    margin-top: 25px;
    color:  #150047;
    font-size: 1.9em;
}

.B3 {
    color: #150047;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

p {
    height: 40vh;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#imagen {
    margin-left: 20%;
}

.B4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.B6 {
    border-bottom: #150047 5px solid;
    width: 95%;
    height: 10px;
    position: absolute;
    z-index: 10;
    bottom: 35px;
    left: 0;
}

.B7 {
    border-bottom: #150047 5px solid;
    width: 95%;
    height: 10px;
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 0;
}

.B8 {
    border-bottom: cornflowerblue 5px solid;
    border-bottom-style: dotted;
    width: 15%;
    height: 10px;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 80px;
}

.B9 {
    border-bottom: orange 5px solid;
    border-bottom-style: dotted;
    width: 15%;
    height: 10px;
    position: absolute;
    z-index: 10;
    bottom: 50px;
    right: 80px;
}